---
permalink: /product/care-range/index.html
---

{% extends "layout/main.njk" %}
{% from "macro/introBanner.njk" import banner %}

{% block content %}
    {{ 
        banner(
            heading='Линия ухода',
            subheading='Детокс, восстановление и восполнение баланса',
            content='Удовлетворяйте индивидуальные потребности каждого клиента с помощью нашего ассортимента натуральных средств по уходу за волосами, содержащих натуральные и сертифицированнные органические ингредиенты со 100% натуральными ароматами',

            imgAddress='/files/products/care-range/intro.webp',
            theme='light'
        ) 
    }}

    <div class="container_responsive container_v-padded text_centered text_mobile-started">
        <h2 class="heading_main">
            Линия ухода.
        </h2>

        <hr class="hr_sm hr_padded hr_centered">

        <h3 class="heading_secondary">Мы красим здоровые волосы.</h3>

        <p class="text_simple paragraph_padded">
            Когда речь идет о цвете волос, очень важно состояние волос ваших клиентов. Волосы в хорошем состоянии лучше воспринимают цвет и сохраняют его. Наш ассортимент специально разработанных продуктов по уходу является частью нашей Системы для восстановления структуры волос ваших клиентов.
        </p>

        <p class="text_simple paragraph_padded">
            Ассортимент линейки по уходу за волосами Organic Colour Systems Care позволяет удовлетворить особые потребности волос каждого клиента и предложить индивидуальные услуги с мгновенно заметными результатами. Поврежденные, сухие, ломкие и безжизненные волосы можно восстановить до оптимального состояния всего за одну процедуру. Здоровые волосы дают вам возможность создать насыщенный, здоровый и стойкий цвет. Наши средства для ухода не содержат SLS, SLES и хлорида натрия (соли) и содержат 100% натуральные ароматизаторы.
        </p>
    </div>



    <div class="container_dual">        
        <div
            style="background-image: url('/files/products/care-range/aqua-boost.webp')"
            class="container_v-padded container_image-backgrounded container_dual__item"
        >
            <div class="padded-content_left">
                <div class="container_boxed container_v-padded text_centered">
                    <h2 class="heading_main">
                        Aqua Boost®
                    </h2>

                    <hr class="hr_sm hr_padded hr_centered">

                    <h3 class="heading_secondary">
                        Для волос, нуждающихся в увлажнении.
                    </h3>

                    <div class="container_centered mt-3">
                        <a
                            href="/product/aqua-boost"
                            class="button button_link button_dark"
                        >
                            Подробнее.
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div
            style="background-image: url('/files/products/care-range/powerbuild.webp')"
            class="container_v-padded container_image-backgrounded container_dual__item"
        >
            <div class="padded-content_right">
                <div class="container_boxed container_v-padded text_centered">
                    <h2 class="heading_main">
                        Power Build®
                    </h2>

                    <hr class="hr_sm hr_padded hr_centered">

                    <h3 class="heading_secondary">
                        Для волос, нуждающихся в протеине.
                    </h3>

                    <div class="container_centered mt-3">
                        <a
                            href="/product/power-build"
                            class="button button_link button_dark"
                        >
                            Подробнее.
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container_dual">        
        <div
            style="background-image: url('/files/products/care-range/status-quo.webp')"
            class="container_v-padded container_image-backgrounded container_dual__item"
        >
            <div class="padded-content_left">
                <div class="container_boxed container_v-padded text_centered">
                    <h2 class="heading_main">
                        Status Quo®
                    </h2>

                    <hr class="hr_sm hr_padded hr_centered">

                    <h3 class="heading_secondary">
                        Для сбалансированных волос.
                    </h3>

                    <div class="container_centered mt-3">
                        <a
                            href="/product/status-quo"
                            class="button button_link button_dark"
                        >
                            Подробнее.
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div
            style="background-image: url('/files/products/care-range/soothe-plus.webp')"
            class="container_v-padded container_image-backgrounded container_dual__item"
        >
            <div class="padded-content_right">
                <div class="container_boxed container_v-padded text_centered">
                    <h2 class="heading_main">
                        Soothe Plus.
                    </h2>

                    <hr class="hr_sm hr_padded hr_centered">

                    <h3 class="heading_secondary">
                        Для чувствительной кожи.
                    </h3>

                    <div class="container_centered mt-3">
                        <a
                            href="/product/soothe-plus"
                            class="button button_link button_dark"
                        >
                            Подробнее.
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="container_dual">        
        <div
            style="background-image: url('/files/products/care-range/keep-curl.webp')"
            class="container_v-padded container_image-backgrounded container_dual__item"
        >
            <div class="padded-content_left">
                <div class="container_boxed container_v-padded text_centered">
                    <h2 class="heading_main">
                        Keep Curl.
                    </h2>

                    <hr class="hr_sm hr_padded hr_centered">

                    <h3 class="heading_secondary">
                        Идеально подходит для естественно вьющихся волос или волос с химической завивкой. 
                    </h3>

                    <div class="container_centered mt-3">
                        <a
                            href="/product/keep-curl"
                            class="button button_link button_dark"
                        >
                            Подробнее.
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div
            style="background-image: url('/files/products/care-range/charcoal.webp')"
            class="container_v-padded container_image-backgrounded container_dual__item"
        >
            <div class="padded-content_right">
                <div class="container_boxed container_v-padded text_centered">
                    <h2 class="heading_main">
                        Charcoal Shampoo
                    </h2>

                    <hr class="hr_sm hr_padded hr_centered">

                    <h3 class="heading_secondary">
                        Очищение. Детоксикация. Обновление.
                    </h3>

                    <div class="container_centered mt-3">
                        <a
                            href="/product/charcoal"
                            class="button button_link button_dark"
                        >
                            Подробнее.
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include "parts/actionBanners/revolutionBanner.njk" %}

{% endblock content %}