---
permalink: /product/think-curl/index.html
---

{% extends "layout/main.njk" %}
{% from "macro/introBanner.njk" import banner %}
{% from "macro/video.njk" import ytVideo %}

{% block content %}
    {{ 
        banner(
            heading='Think Curl tm',
            subheading='Первая в Великобритании запатентованная органическая завивка без аммиака',

            imgAddress='/files/products/think-curl/intro.webp',
            theme='dark'
        ) 
    }}

    <div class="container_responsive container_v-padded text_centered text_mobile-started">
        <h2 class="heading_main">
            Линейка средств Think Curl.
        </h2>

        <hr class="hr_sm hr_padded hr_centered">

        <p class="text_simple paragraph_padded">
            Think Curl ™, обогащенный растительными аминокислотами, питает и защищает волосы на протяжении всего процесса органической завивки. В отличие от большинства химических аналогов, Think Cur l ™ не содержит тиогликолят аммония, аммиака, SLS и SLES, которые, как известно, вызывают раздражение кожи, дыхательных путей и ослабляют волосы. Вместо этого мы применяем более щадящий подход, используя «гидрохлорид цистеамина», который обладает уникальным преимуществом, имитируя «аминокислоту цистеина», помогая реформировать и укреплять связи в волосах.
        </p>
        <p class="text_simple paragraph_padded">
            В рамках системы Think Curl ™ у нас также есть отдельный «активатор», который можно добавить в лосьон для регулирования pH в соответствии с типом волос, что делает Think Curl ™ подходящим для использования на любой структуре волос. 
        </p>
    </div>


    <div
        style="background-image: url('/files/products/think-curl/description.webp')"
        class="container_v-padded container_image-backgrounded"
    >
        <div class="container_responsive">
            <div class="container_boxed container_v-padded text_centered">
                <h2 class="heading_main">
                    Как работает Think Curl ™
                </h2>

                <hr class="hr_sm hr_padded hr_centered">


                <p class="text_simple paragraph_padded">
                    В продукции Organic Curl Systems используются более мягкие ингредиенты (цистамин гидрохлорид и растительные аминокислоты), чем в традиционных продуктах для завивки, поэтому в процессе завивки волосы не повреждаются. Эта продукция совершенно не содержит аммиак и тиогликоляты. Organic Curl Systems работает между pH 4.5 и 6.5, в зависимости от того сколько добавляется активатора, оставляя волосы с уровнем pH близким к натуральному, не повреждает их в процессе завивки.
                </p>
            </div>
        </div>
    </div>


    <div class="container_v-padded">
        <div class="container_gray container_v-padded">
            <div class="container_responsive">
                <h2 class="heading_main text_centered">Think Curl™ Perming System.</h2>

                <div class="products-row mt-6">
                    <div class="products-row__item">
                        <div class="product-preview">
                            <img 
                                class="product-preview__image"
                                src="/files/products/think-curl/product1.webp"
                                alt=""
                            >

                            <h3 class="product-preview__name">Think Curl Activator.</h3>

                            <hr class="hr_sm hr_dark hr_padded">
                        </div>
                    </div>

                    <div class="products-row__item">
                        <div class="product-preview">
                            <img 
                                class="product-preview__image"
                                src="/files/products/think-curl/product2.webp"
                                alt=""
                            >

                            <h3 class="product-preview__name">Think Curl Hair Deodorizer.</h3>

                            <hr class="hr_sm hr_dark hr_padded">
                        </div>
                    </div>

                    <div class="products-row__item">
                        <div class="product-preview">
                            <img 
                                class="product-preview__image"
                                src="/files/products/think-curl/product3.webp"
                                alt=""
                            >

                            <h3 class="product-preview__name">Think Curl Perming System.</h3>

                            <hr class="hr_sm hr_dark hr_padded">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="container_dual">        
        <div class="container_dual__item container_v-padded container_gray">
            <div class="padded-content_left">
                <h2 class="heading_main">Особенности и преимущества</h2>
            
                <hr class="hr_sm hr_padded">

                <ul class="list list_padded list_marked">
                    <li class="list__item">Наши революционные продукты для завивки делают удивительно естественные, упругие и сияющие кудри.</li>
                    <li class="list__item">Organic Curl Systems отлично подходит для всех техник завивки и выпрямления, включая weave wind, поднятие корней и традиционную завивку.</li>
                    <li class="list__item">Подходит для всех типов волос, даже поврежденных, поскольку в процессе завивки продукция естественным образом увлажняет и кондиционирует волосы.</li>
                    <li class="list__item">Наша серия Keep Curl отлично подходит для кудрявых или завитых волос. Начиная с ухода Keep Curl Treatment, который содержит соевый белок для защиты, и заканчивая шампунем  Keep Curl, который не содержит вредные сульфаты, у нас есть продукция на все случаи жизни!</li>
                    <li class="list__item">Этот инновационный комплекс предназначен как для завивки волос, так и для выпрямления. </li>
                    <li class="list__item">Весь комплекс не содержит аммиака и тиогликоляты. Он изготовлен только на натуральных растительных экстрактах с аминокислотами, а также входящих в состав соевого белка и пшеницы. Багодаря этому работа с волосами с помощью данного средства становится экологически-чистой без пагубных испарений и неприятных запахов. </li>
                    <li class="list__item">Система предназначена как для завивки волос с помощью бигудей, так и для расслабления завитков кудрявых или волнистых волос с помощью разглаживающей расчески.</li>
                    <li class="list__item">Волосы не портятся и приобретают естественный блеск, становятся устойчивы к влажной погоде. Подходит для всех типов волос, даже для поврежденных.</li>
                </ul>
            </div>
        </div>

        <div 
            aria-hidden="true"
            class="container_dual__item featured_image-backgrounded"
            style="background-image: url('/files/products/think-curl/features.webp')"
        ></div>
    </div>


    <div class="container_dual">   
        <div 
            aria-hidden="true"
            class="container_dual__item featured_image-backgrounded"
            style="background-image: url('/files/products/think-curl/ingredients.webp')"
        ></div>
    
        <div class="container_dual__item container_v-padded container_gray">
            <div class="padded-content_right">
                <h2 class="heading_main">Активные натуральные и органические ингредиенты.</h2>
            
                <hr class="hr_sm hr_padded">

                <ul class="list list_padded list_marked">
                    <li class="list__item">Пшеничный протеин, не содержащий глютена - предотвращает повреждения при термической обработке и улучшает блеск волос.</li>
                    <li class="list__item">Масло сладкого миндаля - кондиционирование и блеск.</li>
                    <li class="list__item">Экстракт апельсиновой корки - противовоспалительный эффект</li>
                    <li class="list__item">Органический экстракт грейпфрута - бодрящие и освежающие свойства.</li>
                    <li class="list__item">Натуральный экстракт морских водорослей - блеск</li>
                    <li class="list__item">Подсолнечное масло - поглотитель УФ-излучения.</li>
                    <li class="list__item">Алоэ Вера - Успокаивает и увлажняет </li>
                    <li class="list__item">Органический цветок календулы - способствует восстановлению и заживлению кожи.</li>
                </ul>
            </div>
        </div>
    </div>

    {% include "parts/actionBanners/revolutionBanner.njk" %}

{% endblock content %}