{% macro banner(
    heading,
    subheading,
    content,

    imgAddress,
    theme,

    linkText,
    linkAddress,

    removeSubheadingOnShrink=false
) %}
<div class="banner intro-banner">
    <div aria-hidden="true" class="banner__image-container">
        <img
            class="banner__image"
            src={{imgAddress}}
            alt=""
        >
    </div>

    <div class="container_absolutely-responsive">
        <div class="banner__content text_{{theme}}">
            <h2 class="banner__heading intro-banner__heading">{{heading}}</h2>

            {% if subheading %}
                <h3 class="banner__subheading intro-banner__subheading {{'banner__subheading_removable' if removeSubheadingOnShrink else ''}}">
                    {{subheading}}
                </h3>
            {% endif %}

            {% if content %}
                <p class="banner__text">
                    {{content}}
                </p>
            {% endif %}

            {% if linkAddress and linkText %}  
                <a
                    href="{{linkAddress}}"
                    class="banner__link button button_link button_{{theme}}"
                >
                    {{linkText}}
                </a>
            {% endif %}
        </div>
    </div>
</div>
{% endmacro %}