---
permalink: /contacts/index.html
title: "Контакты"
---

<!DOCTYPE html>
<html lang="ru">
<head>   
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <style>
        @import url("https://www.organiccolorsystems.ru/modules/system/system.base.css?pzxgm7");
        @import url("https://www.organiccolorsystems.ru/modules/field/theme/field.css?pzxgm7");
        @import url("https://www.organiccolorsystems.ru/modules/node/node.css?pzxgm7");
        @import url("https://www.organiccolorsystems.ru/modules/search/search.css?pzxgm7");
        @import url("https://www.organiccolorsystems.ru/modules/user/user.css?pzxgm7");
        @import url("https://www.organiccolorsystems.ru/sites/all/modules/views/css/views.css?pzxgm7");
        @import url("https://www.organiccolorsystems.ru/sites/all/modules/ckeditor/css/ckeditor.css?pzxgm7");
        @import url("https://www.organiccolorsystems.ru/sites/all/modules/ctools/css/ctools.css?pzxgm7");
        @import url("https://www.organiccolorsystems.ru/sites/all/modules/panels/css/panels.css?pzxgm7");
        @import url("https://www.organiccolorsystems.ru/sites/all/modules/webform/css/webform.css?pzxgm7");
        @import url("https://www.organiccolorsystems.ru/sites/all/modules/yandex_metrics/css/yandex_metrics.css?pzxgm7");
        @import url("https://www.organiccolorsystems.ru/sites/all/modules/nice_menus/css/nice_menus.css?pzxgm7");
        @import url("https://www.organiccolorsystems.ru/sites/all/themes/organic/css/main_menu.css?pzxgm7");
        @import url("https://www.organiccolorsystems.ru/sites/default/files/prepro/sites_all_themes_ocs2_scss_styles.css?pzxgm7");
        @import url("https://www.organiccolorsystems.ru/sites/default/files/fontyourface/font.css?pzxgm7");
    </style>
</head>

<link type="text/css" rel="stylesheet" href="http://fonts.googleapis.com/css?family=Playfair+Display:italic,regular&amp;subset=cyrillic" media="all">
{% include "parts/header.njk" %}
<body
    class="html not-front not-logged-in no-sidebars page-node page-node- page-node-623 node-type-panel section-ocs b2b-processed">

    <div class="banner-outer-wrapper">
        <div class="banner-wrapper">
            <div class="layout-center clearfix">
            </div>
        </div>
    </div>

    <div class="layout-center">
        <div class="layout-3col layout-swap">
            <main class="layout-3col__full" role="main">
                <article 
                    class="node-623 node node-panel view-mode-full clearfix"
                >
                    <header>
                        <span property="dc:title" content="Landing" class="rdf-meta element-hidden"></span>
                    </header>

                    <div class="panel-pane pane-custom pane-1">
                        <div class="pane-wrapper">
                            <h1>Oрганическое окрашивание</h1>
                            <p>уникальная услуга для салонов красоты, обеспечивающая непрерывный поток клиентов</p>
                            <h3>Оставьте заявку до 1 февраля и получите скидку на стартовый пакет!</h3>
                            <p><a href="#contact-ocs" title="Отправить заявку" class="ocs-button-white">Получить скидку</a></p>
                        </div>
                    </div>

                    <div class="panel-pane pane-custom pane-2">
                        <h2 class="pane-title">Organic Colour Systems</h2>
                        <h3>1 бренд = масса возможностей для стилистов: окрашивание, уход, стайлинг.</h3>
                        <div class="ocspros pros1">
                            <h4>Безопасность</h4>
                            <p>для салона, для мастера, для клиента</p>
                        </div>
                        <div class="ocspros pros2">
                            <h4>Обучение персонала</h4>
                            <p>стилистов, управляющих, администраторов</p>
                        </div>
                    </div>

                    <div class="panel-pane pane-custom pane-3">
                        <h2 class="pane-title">Результаты использования</h2>
                        <p style="line-height:0;">
                            <img alt="" src="https://www.organiccolorsystems.ru/sites/default/files/results1.jpg">
                            <img alt="" src="https://www.organiccolorsystems.ru/sites/default/files/results2.jpg">
                        </p>
                        <p>
                            <a class="ocs-button-black" href="#contact-ocs">Заказать презентацию бренда в салон</a>
                        </p>
                    </div>

                    <div class="panel-pane pane-custom pane-4">
                        <div class="pane-wrapper">
                            <h2>
                                Что входит в стартовый пакет?</h2>
                            <ul>
                                <li>
                                    Презентация бренда в вашем салоне:<br>
                                    (презентация, демонстрация процедуры aqua-окрашивания)</li>
                                <li>
                                    Формирование заказа:<br>
                                    (ассортимент продукции под целевую аудиторию вашего салона).</li>
                                <li>
                                    Бонусы (сопутствующие + POS материалы)</li>
                                <li>
                                    Обучение стилистов салона<br>
                                    (обучение, аттестация)</li>
                                <li>
                                    Маркетинговая поддержка</li>
                            </ul>
                            <p>
                                <a class="ocs-button-black" href="#contact-ocs">
                                    Записаться на бесплатное тестирование
                                </a>
                            </p>
                        </div>
                    </div>

                    <div class="panel-pane pane-custom pane-5">
                        <h2 class="pane-title">
                            Доверие к нам и нашей продукции – лучший показатель качества.
                        </h2>

                        <h3>
                            Сегодня лучшие салоны России используют косметику марки Organic Colour Systems.
                        </h3>
                        <p class="rtecenter"><img alt="" src="https://www.organiccolorsystems.ru/sites/default/files/logos-l.png"></p>
                    </div>

                    <div class="panel-pane pane-custom pane-6">
                        <div class="pane-wrapper">
                            <h2>
                                Herb&nbsp; UK – пионеры в производстве органичсекой косметики для волос.</h2>
                            <div>
                                Путь Organic Colour Systems начался более 25 лет назад с определенной целью: подарить
                                парикмахерам безопасные натуральные красители и средства по уходу за волосами.&nbsp;
                            </div>
                            <div>
                                &nbsp;</div>
                            <div>
                                Основателем линии был парикмахер Стивен Ландрет,вынужденный бросить любимое дело из-за
                                сильной аллергии на стандартные красители для волос. Вопреки всем стереотипам того
                                времени, Стивен решил воздать натуральную косметику, без сильных химикатов и токсинов.
                                Спустя годы исследований появляется линия Organic Colour Systems - известная и
                                полюбившаяся тысячам стилистов по всему миру.</div>
                        </div>
                    </div>

                    <div class="panel-pane pane-custom pane-7">
                        <div class="pane-wrapper">
                            <h2>Herb UK сегодня</h2>
                            <h3>
                                Спустя 25 лет Herb UK остается одним из ведущих производителей органической
                                профессиональной косметики.</h3>
                            <p>Создатель первого в мире органического окрашивания</p>
                            <p>В 46 странах мира салоны выбирают нашу продукцию</p>
                            <div>
                                300 салонов России пользуются продуктами бренда Organic Colour Systems</div>
                        </div>
                    </div>

                    <div class="panel-pane pane-custom pane-8">
                        <h2 class="pane-title">
                            Ощутимые преимущества 
                        </h2>
                        <div>
                            Название Organiс присваивается продуктам, имеющим в своем составе не менее 95%
                            ингредиентов&nbsp; натурального происхождения. В производстве органических продуктов или
                            косметики используется натуральное, экологически чистое сырье без добавления различных
                            синтезированных красителей, химических консервантов, ароматизаторов</div>
                    </div>
                    <div class="panel-pane pane-custom pane-9">
                        <h4>Богатый опыт</h4>
                        <div>
                            С 2008 года&nbsp; мы являемся эксклюзивным представителем компании Herb UK в России.</div>
                    </div>

                    <div class="panel-pane pane-custom pane-10">
                        <h4>Безопасность</h4>
                        <div>
                            Мы предлагаем салонам безопасную косметику для волос, которая соответствует стандартам.
                        </div>
                    </div>

                    <div class="panel-pane pane-custom pane-11">
                        <h4>Выгода</h4>
                        <div>
                            Мы предлагаем взаимовыгодное сотрудничество а так же лучшее соотношение «цена-качество»
                            продуктов для услуг на рынке.
                        </div>
                    </div>
                    <div class="panel-pane pane-custom pane-12" id="contact-ocs">
                        <h2 class="pane-title">Остались вопросы? Свяжитесь с нами! </h2>

                        <p>Телефон: +7495 649 89 26&nbsp;<a href="https://api.whatsapp.com/send?phone=79153121331"
                                xlink:title="Whatsapp"><img alt="watsapp" src="https://www.organiccolorsystems.ru/sites/default/files/wapp.png"
                                    style="width: 51px; height: 47px;"></a></p>
                    </div>
                    <div class="panel-pane pane-block pane-webform-client-block-624">
                        <form class="webform-client-form antibot-hidden" enctype="multipart/form-data" style=""
                            action="/otpravte-zayavku" method="post" id="webform-client-form-624"
                            accept-charset="UTF-8">
                            <div>
                                <div class="form-item webform-component webform-component-textfield"
                                    id="webform-component-gorod">
                                    <label for="edit-submitted-gorod">Город </label>
                                    <input type="text" id="edit-submitted-gorod" name="submitted[gorod]" value=""
                                        size="60" maxlength="128" class="form-text">
                                </div>
                                <div class="form-item webform-component webform-component-textfield"
                                    id="webform-component-nazvanie-salona">
                                    <label for="edit-submitted-nazvanie-salona">Название салона <span
                                            class="form-required" title="Обязательно для заполнения.">*</span></label>
                                    <input type="text" id="edit-submitted-nazvanie-salona"
                                        name="submitted[nazvanie_salona]" value="" size="60" maxlength="128"
                                        class="form-text required" required="required">
                                </div>
                                <div class="form-item webform-component webform-component-textfield"
                                    id="webform-component-imya">
                                    <label for="edit-submitted-imya">Имя <span class="form-required"
                                            title="Обязательно для заполнения.">*</span></label>
                                    <input type="text" id="edit-submitted-imya" name="submitted[imya]" value=""
                                        size="60" maxlength="128" class="form-text required" required="required">
                                </div>
                                <div class="form-item webform-component webform-component-textfield"
                                    id="webform-component-telefon">
                                    <label for="edit-submitted-telefon">Телефон <span class="form-required"
                                            title="Обязательно для заполнения.">*</span></label>
                                    <input type="text" id="edit-submitted-telefon" name="submitted[telefon]" value=""
                                        size="60" maxlength="128" class="form-text required" required="required">
                                </div>
                                <div class="form-item webform-component webform-component-email"
                                    id="webform-component-pochta">
                                    <label for="edit-submitted-pochta">Почта <span class="form-required"
                                            title="Обязательно для заполнения.">*</span></label>
                                    <input class="email form-text form-email required" type="email"
                                        id="edit-submitted-pochta" name="submitted[pochta]" size="60"
                                        required="required">
                                </div>
                                <div class="form-actions form-wrapper" id="edit-actions"><input type="submit"
                                        id="edit-submit" name="op" value="Получить скидку на стартовый пакет!"
                                        class="form-submit"></div>
                            </div>
                        </form>
                    </div>
                </article>
            </main>
        </div>
    </div>
</body>