---
title: asdasd
---

{% extends "layout/main.njk"%}

{% block content %}
    <div>
    </div>
    {% include "parts/smallFacts.njk" %}
    {% include "parts/newsletter.njk" %}
{% endblock content %}

{% block scripts%}
    <script src="/static/main.js"></script>
{% endblock scripts%}