---
title: asdasd
---

{% extends "layout/main.njk"%}

{% block content %}
    <div class="owl-carousel intro-carousel">
        <div class="banner">
            <div class="image-banner">
                <img
                    class="image-banner__image"
                    src="https://www.organiccoloursystems.com/wp-content/uploads/2020/06/Rep-Hair-video-1.png"
                    alt=""
                >
            </div>

            <div class="banner__content container_v-padded container_absolutely-responsive text_dark">
                <h2 class="heading_main">Баннер.</h2>
                
                <hr class="hr_sm">

                <a
                    href="TODO"
                    class="button button_link button_dark mt-6"
                >
                    Подробнее.
                </a>
            </div>
        </div>
        <div class="banner">
            <div class="image-banner">
                <img
                    class="image-banner__image"
                    src="/files/main/education-banner.png"
                    alt=""
                >
            </div>

            <div class="banner__content container_v-padded container_absolutely-responsive">
                <h2 class="heading_main text_light">Баннер.</h2>
                
                <hr class="hr_sm hr_light">

                <a
                    href="TODO"
                    class="button button_link button_light mt-6"
                >
                    Подробнее.
                </a>
            </div>
        </div>
    </div>

    <div class="container_responsive container_v-padded container_centered">
        <h2 class="heading_main">Добро пожаловать в Organic Color Systems.</h2>
        
        <hr class="hr_sm">

        <h3 class="heading_secondary">
            Ваше путешествие к здоровому уходу за волосами начинается прямо здесь.
        </h3>
        <p class="text_simple">
            Мы - этичный и свободный от жестокости профессиональный бренд для салонов красоты,
            созданный с заботой о здоровье вас, ваших клиентов и волос ваших клиентов. 
            Мы стремимся к созданию более безопасных салонов красоты, и наша уникальная экологическая  наука - вот что отличает нас. Наша Система позволяет вам делать все, что вы обычно делаете, но более естественно, 
            этично, и  без ущерба для производительности.
        </p>
        <a
            href="TODO"
            class="button button_link button_dark mt-3"
        >
            Наша история.
        </a>
    </div>

    <div class="banner">
        <div class="image-banner">
            <img
                class="image-banner__image"
                src="/files/main/education-banner.png"
                alt=""
            >
        </div>

        <div class="banner__content container_v-padded container_absolutely-responsive">
            <h2 class="heading_main text_light">Блог.</h2>
            
            <hr class="hr_sm hr_light">

            <a
                href="TODO"
                class="button button_link button_light mt-6"
            >
                Подробнее.
            </a>
        </div>
    </div>

    <div class="container_dual">
        <div class="container_pink container_v-padded container_dual__item">
            <div class="padded-content_left">
                <h2 class="heading_main">Присоединяйся к революции.</h2>
                
                <hr class="hr_sm">

                <h3 class="heading_secondary">Начни свое путешествие сегодня.</h3>
                <p class="text_simple">Присоединяйтесь к нашему невероятному сообществу и к революции естественного парикмахерского искусства.</p>

                <a
                    href="TODO"
                    class="button button_link button_dark mt-3"
                >
                    Запишите меня.
                </a>
            </div>
        </div>

        <div class="container_green container_v-padded container_dual__item">
            <div class="padded-content_right">
                <h2 class="heading_main">Найдите салон.</h2>
                
                <hr class="hr_sm">

                <h3 class="heading_secondary">Ищете ближайший к вам салон?</h3>
                <p class="text_simple">Наш Salon Finder находится в разработке! Пожалуйста, напишите нам, чтобы найти ближайший к вам салон.</p>

                <a
                    href="TODO"
                    class="button button_link button_dark mt-3"
                >
                    Свяжитесь с нами.
                </a>
            </div>
        </div>
    </div>

    {% include "parts/smallFacts.njk" %}
    {% include "parts/newsletter.njk" %}
{% endblock content %}

