---
title: Organic Colour Systems
---

{% extends "layout/main.njk" %}
{% from "macro/introBanner.njk" import banner %}
{% from "macro/testimonial.njk" import testimonial %}

{% block content %}
    <div class="owl-carousel intro-carousel">
        {{ 
            banner(
                heading='Баннер.',
                subheading='Описание баннера',

                imgAddress='/files/main/education-banner.webp',
                theme='dark',
            
                linkAddress='TODO',
                linkText='Подробнее.'
            ) 
        }}

        {{ 
            banner(
                heading='Другой баннер.',
                subheading='Описание баннера',
                content="текст на баннере",

                imgAddress='/files/main/education-banner.webp',
                theme='light',
            
                linkAddress='TODO',
                linkText='Подробнее.'
            ) 
        }}
    </div>

    <div class="container_responsive container_v-padded text_centered">
        <h2 class="heading_main">Добро пожаловать в Organic Colour Systems.</h2>
        
        <hr class="hr_sm hr_padded hr_centered">

        <h3 class="heading_secondary">
            Ваше путешествие к здоровому уходу за волосами начинается прямо здесь.
        </h3>
        <p class="text_simple paragraph_padded">
            Мы - этичный и свободный от жестокости профессиональный бренд для салонов красоты,
            созданный с заботой о здоровье вас, ваших клиентов и волос ваших клиентов. 
            Мы стремимся к созданию более безопасных салонов красоты, и наша уникальная экологическая  наука - вот что отличает нас. Наша Система позволяет вам делать все, что вы обычно делаете, но более естественно, 
            этично, и  без ущерба для производительности.
        </p>

        <div class="container_centered mt-3">
            <a
                href="/about/our-history"
                class="button button_link button_dark"
            >
                Наша история.
            </a>
        </div>
    </div>

    <div class="container_responsive container_v-padded">
        <div class="owl-carousel testimonials-carousel">
            {% for t in testimonials %}
                {{
                    testimonial(
                        author_name=t.author_name,
                        person_info=t.person_info,
                        text=t.description
                    )
                }}
            {% endfor %}
        </div>
    </div>

    {% include "parts/actionBanners/allActions.njk" %}
{% endblock content %}

