---
permalink: /tutors/index.html
title: "Наши мастера"
---

{% extends "layout/main.njk" %}
{% from "macro/introBanner.njk" import banner %}

{% block content %}

    {{ 
        banner(
            heading='Наставники салона.',
            subheading='Творческий, страстный и отзывчивый коллектив.',
            content='Наша опытная команда профессиональых наставников поможет вам и поддержит вас.',

            imgAddress="/files/mentors.webp",
            theme='light',

            removeSubheadingOnShrink=false
        )
    }}
    
    <div class="container_responsive container_v-padded text_centered">
        <h2 class="heading_main">Познакомьтесь с нашей командой наставников салона.</h2>

        <hr class="hr_sm hr_padded hr_centered">

        <h2 class="heading_secondary">Опытный, знающий и действительно приятный коллектив.</h2>

        <p class="text_simple paragraph_padded">
            Наша глобальная команда наставников Салона - гуру всего, что связано с системами органической окраски, и то, чего они не знают, не стоит знать. Большинство наших наставников салонов - это владельцы салонов или стилисты, как и вы, с многолетней практикой работы с нашей Системой.
        </p>

        <p class="text_simple paragraph_padded">
            Наша команда наставников салона готова помочь и направить вас с самого начала работы с системами Organic Colour Systems и не только! Будь то один из наших 3 семинаров, тренинг в салоне или даже по телефону, наши наставники всегда готовы ответить на любые ваши вопросы.
        </p>

        <div id="all-mentors" class="mentors-row mt-6"></div>
    </div>

    {% include "parts/actionBanners/revolutionBanner.njk" %}
{% endblock content %}