---
permalink: /product/keep-curl/index.html
---

{% extends "layout/main.njk" %}
{% from "macro/introBanner.njk" import banner %}
{% from "macro/video.njk" import ytVideo %}

{% block content %}
    {{ 
        banner(
            heading='Keep Curl.',
            subheading='Идеально подходит для естественно вьющихся волос или волос с химической завивкой.',
            content='Специально разработан для увелечения стойкости локонов: завитых или естественно вьющихся волос.',

            imgAddress='/files/products/keep-curl/intro.webp',
            theme='dark'
        ) 
    }}

    <div class="container_responsive container_v-padded text_centered">
        <h2 class="heading_main">
            Линейка средств Keep Curl.
        </h2>

        <hr class="hr_sm hr_padded hr_centered">

        <p class="text_simple paragraph_padded">
            Линейка средств Keep Curl специально разработана для клиентов с естественно вьющимися волосами или волосами с химической завивкой, что делает его идеальным партнером при использовании в сочетании с нашей линейкой Think Curl. Keep Curl был разработан с использованием тщательно подобранной формулой натуральных ингредиентов, «благоприятных для завитков», чтобы сделать локоны упругими, блестящими и увлажненными.
        </p>

        <div class="products-row mt-6">
            <div class="products-row__item">
                <div class="product-preview">
                    <img 
                        class="product-preview__image"
                        src="/files/products/keep-curl/product1.webp"
                        alt=""
                    >

                    <h3 class="product-preview__name">The Keep Curl Range</h3>

                    <hr class="hr_sm hr_dark hr_padded">
                </div>
            </div>
        </div>
    </div>


    <div class="container_dual">       
        <div class="container_dual__item container_v-padded container_green">
            <div class="padded-content_left">
                <h2 class="heading_main">Активные натуральные и органические ингредиенты.</h2>
            
                <hr class="hr_sm hr_padded">

                <ul class="list list_padded list_marked">
                    <li class="list__item">Пшеничный протеин без глютена - удерживает влагу в структуре волоса и придает им зеркальный блеск.</li>
                    <li class="list__item">Органический экстракт цветов календулы - защищает волосы от УФ-В излучения.</li>
                    <li class="list__item">Масло сладкого миндаля - кондиционирование и блеск.</li>
                    <li class="list__item">Подсолнечное масло - кондиционер.</li>
                    <li class="list__item">Окопник - успокаивает, защищает и увлажняет.</li>
                    <li class="list__item">Ромашка - кондиционирующие и противовоспалительные свойства.</li>
                    <li class="list__item">Алоэ Вера - увлажняет и успокаивает кожу головы.</li>
                </ul>
            </div>
        </div>

        <div 
            aria-hidden="true"
            class="container_dual__item featured_image-backgrounded"
            style="background-image: url('/files/products/keep-curl/ingredients.webp')"
        ></div>
    </div>


    <div class="banner">
        <div class="banner__image-container">
            <img
                class="banner__image"
                src="/files/products/whole-range.webp"
                alt=""
            >
        </div>

        <div class="banner__overlay"></div>
        <div class="container_absolutely-responsive">
            <div class="banner__content container_v-padded text_dark">
                <h2 class="heading_main">Посмотрите весь ассортимент.</h2>
                
                <hr class="banner__delimiter hr_padded hr_sm hr_dark">

                <a
                    href="/products"
                    class="button button_link button_dark"
                >
                    Подробнее.
                </a>
            </div>
        </div>
    </div>

    {% include "parts/actionBanners/revolutionBanner.njk" %}

{% endblock content %}