---
permalink: /product/control-styling/index.html
---

{% extends "layout/main.njk" %}
{% from "macro/introBanner.njk" import banner %}
{% from "macro/video.njk" import ytVideo %}

{% block content %}
    {{ 
        banner(
            heading='Control Styling',
            subheading='Неарозольный, прочная фиксация и естественный вид',
            content='Для красивой укладки с великолепным здоровым блеском и длительной стойкостью',

            imgAddress='/files/products/control-styling/intro.png',
            theme='dark'
        ) 
    }}

    <div class="container_responsive container_v-padded text_centered text_mobile-started">
        <h2 class="heading_main">
            Линейка средств Control Styling.
        </h2>

        <hr class="hr_sm hr_padded hr_centered">

        <p class="text_simple paragraph_padded">
            Линейка средств Organic Colour Systems Control Styling - профессиональная система для создания укладки. Не содержит пластик. У Ваших клиентов не будет ощущения «хрустящих» волос, которое появляется при использовании традиционных средств, при этом укладка сохранится надолго! Средства придают волосам объем, блеск и силу. Не утяжеляют волосы и защищают от УФ-излучения. Средства Organic Colour Systems подходят для всех типов волос и идеальны для ежедневного применения. В составе средств используются только сертифицированные ингредиенты.
        </p>
    </div>

    <div class="container_dual">        
        <div class="container_dual__item container_v-padded container_gray">
            <div class="padded-content_left">
                <h2 class="heading_main">Особенности и преимущества</h2>
            
                <hr class="hr_sm hr_padded">

                <ul class="list list_padded list_marked">
                    <li class="list__item">Полный ассортимент профессиональных средств для укладки</li>
                    <li class="list__item">Без аэрозолей</li>
                    <li class="list__item">Без искусственных силиконов</li>
                    <li class="list__item">Длительная фиксация</li>
                    <li class="list__item">Идеальная профессиональная укладка</li>
                    <li class="list__item">Натуральные и органические ингредиенты</li>
                    <li class="list__item">Растворим в воде - легко смывается</li>
                    <li class="list__item">Более 10 продуктов на каждый день</li>
                </ul>
            </div>
        </div>

        <div 
            aria-hidden="true"
            class="container_dual__item featured_image-backgrounded"
            style="background-image: url('/files/products/control-styling/features.webp')"
        ></div>
    </div>


    <div class="container_dual">   
        <div 
            aria-hidden="true"
            class="container_dual__item featured_image-backgrounded"
            style="background-image: url('/files/products/control-styling/ingredients.webp')"
        ></div>
    
        <div class="container_dual__item container_v-padded container_green">
            <div class="padded-content_right">
                <h2 class="heading_main">Активные натуральные и органические ингредиенты.</h2>
            
                <hr class="hr_sm hr_padded">

                <ul class="list list_padded list_marked">
                    <li class="list__item">Пшеничный протеин, не содержащий глютена - предотвращает повреждения при термической обработке и улучшает блеск волос.</li>
                    <li class="list__item">Масло сладкого миндаля - кондиционирование и блеск.</li>
                    <li class="list__item">Экстракт апельсиновой корки - противовоспалительный эффект</li>
                    <li class="list__item">Органический экстракт грейпфрута - бодрящие и освежающие свойства.</li>
                    <li class="list__item">Натуральный экстракт морских водорослей - блеск</li>
                    <li class="list__item">Подсолнечное масло - поглотитель УФ-излучения.</li>
                    <li class="list__item">Алоэ Вера - Успокаивает и увлажняет </li>
                    <li class="list__item">Органический цветок календулы - способствует восстановлению и заживлению кожи.</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container_responsive container_v-padded">
        {{ytVideo(
            'https://www.youtube.com/embed/eopW1Jxhuoo',
            '/files/products/control-styling/yt-preview.webp'
        )}}
    </div>
    
    {% include "parts/actionBanners/revolutionBanner.njk" %}

{% endblock content %}