---
permalink: /product/soothe-plus/index.html
---

{% extends "layout/main.njk" %}
{% from "macro/introBanner.njk" import banner %}
{% from "macro/video.njk" import ytVideo %}

{% block content %}
    {{ 
        banner(
            heading='Soothe Plus',
            subheading='Зелёный',
            content='Разработано специально для очень чувствительной или раздраженной кожи головы',

            imgAddress='/files/products/soothe-plus/intro.webp',
            theme='dark'
        ) 
    }}

    <div class="container_responsive container_v-padded text_centered">
        <h2 class="heading_main">
            Линия средств для чувствительной кожи головы.
        </h2>

        <hr class="hr_sm hr_padded hr_centered">

        <p class="text_simple paragraph_padded">
            В состав Soothe Plus входит комплекс сертифицированных экстрактов ромашки, фенхеля, сок алоэ вера, который мгновенно успокаивает чувствительную и раздраженную кожу головы и  восстанавливает баланс pH 5.5. Не содержит отдушек. Обладает легким ароматом трав.
        </p>

        <div class="products-row mt-6">
            <div class="products-row__item">
                <div class="product-preview">
                    <img 
                        class="product-preview__image"
                        src="/files/products/soothe-plus/product1.webp"
                        alt=""
                    >

                    <h3 class="product-preview__name">Aqua Boost Shampoo 70ml, 250ml, 900ml</h3>

                    <hr class="hr_sm hr_dark hr_padded">
                </div>
            </div>

            <div class="products-row__item">
                <div class="product-preview">
                    <img 
                        class="product-preview__image"
                        src="/files/products/soothe-plus/product2.webp"
                        alt=""
                    >

                    <h3 class="product-preview__name">Aqua Boost Treatment 90ml, 500ml</h3>

                    <hr class="hr_sm hr_dark hr_padded">
                </div>
            </div>

            <div class="products-row__item">
                <div class="product-preview">
                    <img 
                        class="product-preview__image"
                        src="/files/products/soothe-plus/product3.webp"
                        alt=""
                    >

                    <h3 class="product-preview__name">Aqua Boost Conditioner and Leave-In Conditioner 70ml, 200ml, 900ml</h3>

                    <hr class="hr_sm hr_dark hr_padded">
                </div>
            </div>
        </div>
    </div>


    <div class="container_dual">       
        <div class="container_dual__item container_v-padded container_green">
            <div class="padded-content_left">
                <h2 class="heading_main">Активные натуральные и органические ингредиенты.</h2>
            
                <hr class="hr_sm hr_padded">

                <ul class="list list_padded list_marked">
                    <li class="list__item">Экстракт Белой ивы - антимикробные и противовоспалительные свойства.</li>
                    <li class="list__item">Пшеничный протеин, не содержащий глютена - удерживает влагу в структуре волоса и придает им зеркальный блеск.</li>
                    <li class="list__item">Алоэ Вера -  увлажняет и успокаивает кожу головы.</li>
                    <li class="list__item">Органический плод бергамота - эфирное масло.</li><li class="list__item">Органическая герань - противовоспалительное средство.</li>
                    <li class="list__item">Семена фенхеля - Устраняет раздражение и покраснения.</li>
                    <li class="list__item">Морской майвейд - успокаивает кожу головы и защищает.</li>
                    <li class="list__item">Органическая кора ивы - антимикробное средство, ускоряющее обновление клеток кожи.</li>
                    <li class="list__item">Органическая герань - эфирное масло,лечение проблемной кожи головы</li>
                </ul>
            </div>
        </div>

        <div 
            aria-hidden="true"
            class="container_dual__item featured_image-backgrounded"
            style="background-image: url('/files/products/soothe-plus/ingredients.webp')"
        ></div>
    </div>

    <div class="container_v-padded"></div>

    <div class="banner">
        <div class="banner__image-container">
            <img
                class="banner__image"
                src="/files/products/whole-range.webp"
                alt=""
            >
        </div>

        <div class="banner__overlay"></div>
        <div class="container_absolutely-responsive">
            <div class="banner__content container_v-padded text_dark">
                <h2 class="heading_main">Посмотрите весь ассортимент.</h2>
                
                <hr class="banner__delimiter hr_padded hr_sm hr_dark">

                <a
                    href="/products"
                    class="banner__link button button_link button_dark"
                >
                    Подробнее.
                </a>
            </div>
        </div>
    </div>

    {% include "parts/actionBanners/revolutionBanner.njk" %}

{% endblock content %}