@import "~vars/pads";
@import "~vars/screens";
@import "~vars/colors";
@import "~vars/fonts";

.banner {
    position: relative;

    .banner__image-container {
        position: relative;

        overflow: hidden;
        display: block;

        width: 100%;

        padding-bottom: 42.1%;

        .banner__image {
            position: absolute;
            top: 0;

            width: 100%;
        }
    }

    .banner__image-container::after {
        content: "";

        position: absolute;

        top: 0;
        bottom: 0;
        left: 0;
        right: 0;

        background: rgba(0, 0, 0, 0);
        transition: background-color 0.3s ease-in-out;
    }

    .banner__content {
        position: absolute;
        top: 0;
        left: 0;

        height: 100%;
        width: 100%;

        max-width: 300px;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;

        .banner__heading {

        }

        .banner__subheading {

        }

        .banner__text {
            margin-top: $pad4;
            margin-bottom: $pad4;

            font-size: $font_xs;
            font-family: $font_secondary;
        }

        .banner__subheading + .banner__link {
            margin-top: $pad2;
        }
    }
}


@media all and (max-width: $screen_sm) {
    .banner {
        .banner__image-container::after {
            background: rgba(0, 0, 0, 0.5);
        }
        .banner__content {
            color: $white;

            .banner__delimiter {
                background: $white;
            }

            .banner__text {
                display: none;
            }

            .banner__link {
                color: $white;
                border-color: $white;

                margin-top: $pad2;

                &:hover,
                &:focus {
                    background: $white;
                    color: $black;
                }
            }
        }
    }
}
