@import "~vars/pads";
@import "~vars/colors";
@import "~vars/screens";

.hr_sm {
    width: $pad8;
    height: 1px;

    background: $black;
}

.hr_centered {
    margin-left: auto;
    margin-right: auto;
}

.hr_padded {
    margin-top: $pad5;
    margin-bottom: $pad5;
}

.hr_light {
    background-color: white;
}

