.image-banner {
    position: relative;

    overflow: hidden;
    display: block;

    width: 100%;

    padding-bottom: 42.1%;

    .image-banner__image {
        position: absolute;
        top: 0;

        width: 100%;
    }
}
