@import "~vars/pads";
@import "~vars/fonts";


.list {
    .list__item {
        margin-top: $pad2;

        font-size: $font_xs;
        font-family: $font_secondary;
        line-height: 1.5;
    }

    .list__item:first-child {
        margin-top: $pad0;
    }
}

.list_marked {
    padding-left: $pad4;

    .list__item {
        list-style: disc;
    }
}

.list_padded {
    margin-top: $pad4;
    margin-bottom: $pad4;
}
