<header class="header">
    <div class="container_responsive header__content">
        <a href="" class="header-logo">
            <img src="/files/logo.png" class="header-logo__img" alt="">
        </a>

        <nav class="navbar">
            <ul class="navbar__list">
                <li class="navbar__list-item">
                    <a href="/about/our-history" class="navbar__link">Наша история</a>

                    <ul class="nav-menu navbar__item-menu">
                        <li class="nav-menu__item">
                            <a href="/about/our-ethics" class="nav-menu__link">Наша этика</a>
                        </li> 
                        <li class="nav-menu__item">
                            <a href="/about/our-science" class="nav-menu__link">Наша наука</a>
                        </li> 
                        <li class="nav-menu__item">
                            <a href="/about/our-support" class="nav-menu__link">Наша поддержка</a>
                        </li>
                    </ul>
                </li>

                <li class="navbar__list-item">
                    <a href="/" class="navbar__link">Стать салоном</a>
                </li>

                <li class="navbar__list-item">
                    <a href="/" class="navbar__link">Курсы</a>

                    <ul class="nav-menu navbar__item-menu">
                        <li class="nav-menu__item">
                            <a href="" class="nav-menu__link">Базовый семинар</a>
                        </li> 
                        <li class="nav-menu__item">
                            <a href="" class="nav-menu__link">Секреты изысканных блондов</a>
                        </li> 
                        <li class="nav-menu__item">
                            <a href="" class="nav-menu__link">Работа с сединой</a>
                        </li> 
                        <li class="nav-menu__item">
                            <a href="" class="nav-menu__link">Наставники салона</a>
                        </li>
                    </ul>
                </li>

                <li class="navbar__list-item">
                    <a href="/" class="navbar__link">Продукция</a>

                    <ul class="nav-menu navbar__item-menu">
                        <li class="nav-menu__item">
                            <a href="" class="nav-menu__link">Перманентный цвет волос.</a>
                        </li> 
                        <li class="nav-menu__item">
                            <a href="" class="nav-menu__link">Полуперманентная краска для волос.</a>
                        </li> 
                        <li class="nav-menu__item">
                            <a href="" class="nav-menu__link">Уход за волосами.</a>
                        </li> 
                        <li class="nav-menu__item">
                            <a href="" class="nav-menu__link">Прическа.</a>
                        </li>
                        <li class="nav-menu__item">
                            <a href="" class="nav-menu__link">Система завивки Think Curl ™.</a>
                        </li> 
                        <li class="nav-menu__item">
                            <a href="" class="nav-menu__link">Система укрепления фолликулов Rep-Hair®.</a>
                        </li> 
                        <li class="nav-menu__item">
                            <a href="" class="nav-menu__link">OCS Hand Hygiene.</a>
                        </li>
                        <li class="nav-menu__item">
                            <a href="" class="nav-menu__link">Перманентный краситель.</a>
                        </li> 
                    </ul>
                </li>

                <li class="navbar__list-item">
                    <a href="/" class="navbar__link">Блог</a>

                    <ul class="nav-menu navbar__item-menu">
                        <li class="nav-menu__item">
                            <a href="" class="nav-menu__link">Видео</a>
                        </li> 
                    </ul>
                </li>

                <li class="navbar__list-item">
                    <a href="/" class="navbar__link">Наши контакты</a>

                    <ul class="nav-menu navbar__item-menu">
                        <li class="nav-menu__item">
                            <a href="" class="nav-menu__link">Дистрибьюторы</a>
                        </li>  
                    </ul>
                </li>
            </ul>
        </nav>
        <div
            id="burger"
            class="burger"
        >
            <div 
                class="burger__content"
            ></div>
        </div>
    </div>
</header>

<nav class="mobile-navbar">
    <ul class="mobile-navbar__list">
        <li class="mobile-navbar__list-item">
            <a href="/about/our-history" class="mobile-navbar__heading mobile-navbar__link">Наша история</a>

            <ul class="mobile-navbar__list">
                <li class="mobile-navbar__list-item">
                    <a href="/about/our-ethics" class="mobile-navbar__link">Наша этика</a>
                </li> 
                <li class="mobile-navbar__list-item">
                    <a href="/about/our-science" class="mobile-navbar__link">Наша наука</a>
                </li> 
                <li class="mobile-navbar__list-item">
                    <a href="/about/our-support" class="mobile-navbar__link">Наша поддержка</a>
                </li> 
            </ul>
        </li>

        <li class="mobile-navbar__list-item">
            <a href="/" class="mobile-navbar__heading mobile-navbar__link">Стать салоном</a>
        </li>

        <li class="mobile-navbar__list-item">
            <a href="/" class="mobile-navbar__heading mobile-navbar__link">Курсы</a>

            <ul class="mobile-navbar__list">
                <li class="mobile-navbar__list-item">
                    <a href="" class="mobile-navbar__link">Базовый семинар</a>
                </li> 
                <li class="mobile-navbar__list-item">
                    <a href="" class="mobile-navbar__link">Секреты изысканных блондов</a>
                </li> 
                <li class="mobile-navbar__list-item">
                    <a href="" class="mobile-navbar__link">Работа с сединой</a>
                </li> 
                <li class="mobile-navbar__list-item">
                    <a href="" class="mobile-navbar__link">Наставники салона</a>
                </li>
            </ul>
        </li>

        <li class="mobile-navbar__list-item">
            <a href="/" class="mobile-navbar__heading mobile-navbar__link">Продукция</a>

            <ul class="mobile-navbar__list">
                <li class="mobile-navbar__list-item">
                    <a href="" class="mobile-navbar__link">Перманентный цвет волос.</a>
                </li> 
                <li class="mobile-navbar__list-item">
                    <a href="" class="mobile-navbar__link">Полуперманентная краска для волос.</a>
                </li> 
                <li class="mobile-navbar__list-item">
                    <a href="" class="mobile-navbar__link">Уход за волосами.</a>
                </li> 
                <li class="mobile-navbar__list-item">
                    <a href="" class="mobile-navbar__link">Прическа.</a>
                </li>
                <li class="mobile-navbar__list-item">
                    <a href="" class="mobile-navbar__link">Система завивки Think Curl ™.</a>
                </li> 
                <li class="mobile-navbar__list-item">
                    <a href="" class="mobile-navbar__link">Система укрепления фолликулов Rep-Hair®.</a>
                </li> 
                <li class="mobile-navbar__list-item">
                    <a href="" class="mobile-navbar__link">OCS Hand Hygiene.</a>
                </li>
                <li class="mobile-navbar__list-item">
                    <a href="" class="mobile-navbar__link">Перманентный краситель.</a>
                </li> 
            </ul>
        </li>

        <li class="mobile-navbar__list-item">
            <a href="/" class="mobile-navbar__heading mobile-navbar__link">Блог</a>

            <ul class="mobile-navbar__list">
                <li class="mobile-navbar__list-item">
                    <a href="" class="mobile-navbar__link">Видео</a>
                </li> 
            </ul>
        </li>

        <li class="navbar__list-item">
            <a href="/" class="mobile-navbar__heading mobile-navbar__link">Наши контакты</a>

            <ul class="mobile-navbar__list">
                <li class="mobile-navbar__list-item">
                    <a href="" class="mobile-navbar__link">Дистрибьюторы</a>
                </li>  
            </ul>
        </li>
    </ul>
</nav>