<header class="header">
    <div class="container_responsive">
        <a href="" class="header-logo">
            <img src="/images/logo.png" class="header-logo__img" alt="">
        </a>

        <nav></nav>

        <div 
            class="burger"
            id="burger"
        ></div>
    </div>
</header>