<header class="header">
    <div class="container_green header__primary-section">
        <div class="container_responsive header__primary-section-content">
            <a href="/contacts#contact-ocs" class="header__saloon-link">Стать партнёром</a>
        </div>
    </div>

    <div class="container_responsive header__content">
        <a href="/" class="header-logo">
            <img src="/files/logo.webp" class="header-logo__img" alt="">
        </a>

        <nav class="navbar">
            <ul class="navbar__list">
                <li class="navbar__list-item">
                    <a href="/about/our-history" class="navbar__link">Наша история</a>

                    <ul class="nav-menu navbar__item-menu">
                        <li class="nav-menu__item">
                            <a href="/about/our-ethics" class="nav-menu__link">Наша этика</a>
                        </li> 
                        <li class="nav-menu__item">
                            <a href="/about/our-science" class="nav-menu__link">Наша наука</a>
                        </li> 
                        <li class="nav-menu__item">
                            <a href="/about/our-support" class="nav-menu__link">Наша поддержка</a>
                        </li>
                    </ul>
                </li>

                
                <li class="navbar__list-item">
                    <a href="/products" class="navbar__link">Наш ассортимент</a>

                    <ul class="nav-menu navbar__item-menu">
                        <li class="nav-menu__item">
                            <a href="/product/permament-color" class="nav-menu__link">Перманентный краситель.</a>
                        </li> 
                        <li class="nav-menu__item">
                            <a href="/product/semi-permament" class="nav-menu__link">Полуперманентный краситель прямого действия.</a>
                        </li> 
                        <li class="nav-menu__item">
                            <a href="/product/care-range" class="nav-menu__link">Продукты для салонного ухода за волосами.</a>
                            
                            <ul class="nav-menu nav-menu__submenu">
                                <li class="nav-menu__item">
                                    <a href="/product/aqua-boost" class="nav-menu__link">Aqua Boost.</a>
                                </li>
                                <li class="nav-menu__item">
                                    <a href="/product/power-build" class="nav-menu__link">Power Build.</a>
                                </li>
                                <li class="nav-menu__item">
                                    <a href="/product/status-quo" class="nav-menu__link">Status Quo.</a>
                                </li>
                                <li class="nav-menu__item">
                                    <a href="/product/soothe-plus" class="nav-menu__link">Soothe Plus.</a>
                                </li>
                                <li class="nav-menu__item">
                                    <a href="/product/keep-curl" class="nav-menu__link">Keep Curl.</a>
                                </li>
                                <li class="nav-menu__item">
                                    <a href="/product/charcoal" class="nav-menu__link">Charcoal Shampoo.</a>
                                </li>
                            </ul>
                        </li> 
                        <li class="nav-menu__item">
                            <a href="/product/control-styling" class="nav-menu__link">Стайлинг.</a>
                        </li>
                        <li class="nav-menu__item">
                            <a href="/product/think-curl" class="nav-menu__link">Система завивки Think Curl ™.</a>
                        </li> 
                    </ul>
                </li>

                <li class="navbar__list-item">
                    <a href="/education" class="navbar__link">Обучение</a>

                    <ul class="nav-menu navbar__item-menu" id="desktop-header__workshops-list">
                        <li class="nav-menu__item">
                            <a 
                                href="/tutors"
                                class="nav-menu__link"
                            >
                                Команда тренеров OCS
                            </a>
                        </li> 
                    </ul>
                </li>

                <li class="navbar__list-item">
                    <a href="/contacts#contact-ocs" class="navbar__link">Стать партнёром</a>
                </li>
            </ul>
        </nav>
        <div
            id="burger"
            class="burger"
        >
            <div 
                class="burger__content"
            ></div>
        </div>
    </div>
</header>

<nav class="mobile-navbar">
    <ul class="mobile-navbar__list">
        <li class="mobile-navbar__list-item">
            <a href="/about/our-history" class="mobile-navbar__heading mobile-navbar__link">Наша история</a>

            <ul class="mobile-navbar__list">
                <li class="mobile-navbar__list-item">
                    <a href="/about/our-ethics" class="mobile-navbar__link">Наша этика</a>
                </li> 
                <li class="mobile-navbar__list-item">
                    <a href="/about/our-science" class="mobile-navbar__link">Наша наука</a>
                </li> 
                <li class="mobile-navbar__list-item">
                    <a href="/about/our-support" class="mobile-navbar__link">Наша поддержка</a>
                </li> 
            </ul>
        </li>

        <li class="mobile-navbar__list-item">
            <a
                href="/contacts#contact-ocs"
                class="mobile-navbar__heading mobile-navbar__link"
            >
                Стать партнёром
            </a>
        </li>

        <li class="mobile-navbar__list-item">
            <a href="/education" class="mobile-navbar__heading mobile-navbar__link">Обучение</a>

            <ul class="mobile-navbar__list" id="mobile-header__workshops-list">
                <li class="mobile-navbar__list-item">
                    <a 
                        href="/tutors"
                        class="mobile-navbar__link"
                    >
                        Команда тренеров OCS
                    </a>
                </li> 
            </ul>
        </li>

        <li class="mobile-navbar__list-item">
            <a href="/products" class="mobile-navbar__heading mobile-navbar__link">Наш ассортимент</a>

            <ul class="mobile-navbar__list">
                <li class="mobile-navbar__list-item">
                    <a href="/product/permament-color" class="mobile-navbar__link">Перманентный краситель.</a>
                </li> 
                <li class="mobile-navbar__list-item">
                    <a href="/product/semi-permament" class="mobile-navbar__link">Полуперманентный краситель прямого действия.</a>
                </li> 
                <li class="mobile-navbar__list-item">
                    <a href="/product/care-range" class="mobile-navbar__link">Продукты для салонного ухода за волосами.</a>

                    <ul class="mobile-navbar__list mt-2">
                        <li class="mobile-navbar__list-item">
                            <a href="/product/aqua-boost" class="mobile-navbar__link">Aqua Boost.</a>
                        </li>
                        <li class="mobile-navbar__list-item">
                            <a href="/product/power-build" class="mobile-navbar__link">Power Build.</a>
                        </li>
                        <li class="mobile-navbar__list-item">
                            <a href="/product/status-quo" class="mobile-navbar__link">Status Quo.</a>
                        </li>
                        <li class="mobile-navbar__list-item">
                            <a href="/product/soothe-plus" class="mobile-navbar__link">Soothe Plus.</a>
                        </li>
                        <li class="mobile-navbar__list-item">
                            <a href="/product/keep-curl" class="mobile-navbar__link">Keep Curl.</a>
                        </li>
                        <li class="mobile-navbar__list-item">
                            <a href="/product/charcoal" class="mobile-navbar__link">Charcoal Shampoo.</a>
                        </li>
                    </ul>
                </li> 
                <li class="mobile-navbar__list-item">
                    <a href="/product/control-styling" class="mobile-navbar__link">Стайлинг.</a>
                </li>
                <li class="mobile-navbar__list-item">
                    <a href="/product/think-curl" class="mobile-navbar__link">Система завивки Think Curl ™.</a>
                </li> 
            </ul>
        </li>
    </ul>
</nav>