<section class="newsletter-section">
    <div class="container_responsive newsletter">
        <div class="newsletter__subscription">
            <h2 class="newsletter__heading">
                Подпишитесь на нашу рассылку
            </h2>

            <p class="newsletter__info">
                Получайте информацию о наших новостях, новых продуктах, трендах и многом другом. Вы можете отписаться в
                любой момент.
            </p>

            <form class="newsletter__form" id="newsletterForm">
                <label for="newsletter_email" class="visually-hidden">
                    Почта для рассылки
                </label>

                <input class="input newsletter__email" id="newsletter_email" placeholder="Ваша почта" name="email"
                    type="email">

                <button class="button button_light newsletter__submit">
                    Подписаться.
                </button>
            </form>
        </div>

        <div class="newsletter__social">
            <a href="/facebook" class="newsletter__social-anchor">
                <img src="/images/facebook-icon.svg" class="fab fa-facebook-f newsletter__social-icon"></img>
            </a>
            <a href="/facebook" class="newsletter__social-anchor">
                <img src="/images/facebook-icon.svg" class="fab fa-facebook-f newsletter__social-icon"></img>
            </a>
            <a href="/facebook" class="newsletter__social-anchor">
                <img src="/images/facebook-icon.svg" class="fab fa-facebook-f newsletter__social-icon"></img>
            </a>
            <a href="/facebook" class="newsletter__social-anchor">
                <img src="/images/facebook-icon.svg" class="fab fa-facebook-f newsletter__social-icon"></img>
            </a>
        </div>
    </div>
</section>