<section class="newsletter-section">
    <div class="container_responsive newsletter">
        <div class="newsletter__subscription">
            <h2 class="newsletter__heading">
                Подпишитесь на нашу рассылку
            </h2>

            <p class="newsletter__info">
                Получайте информацию о наших новостях, новых продуктах, трендах и многом другом. Вы можете отписаться в
                любой момент.
            </p>

            <form class="newsletter__form" id="newsletterForm">
                <p class="newsletter__error-message">Ошибка, попробуйте ещё раз</p>
                <p class="newsletter__success-message">Вы успешно подписаны!</p>

                <div class="newsletter__form-content">
                    <label for="newsletter_email" class="visually-hidden">
                        Почта для рассылки
                    </label>
                    <input class="input newsletter__email" id="newsletter_email" placeholder="Ваша почта" name="email"
                        type="email">

                    <button class="button button_light newsletter__submit">
                        Подписаться.
                    </button>
                </div>
            </form>
        </div>

        <div class="newsletter__social">
            <a class="newsletter__social-anchor" href="http://www.facebook.com/pages/Moscow-Russia/Organic-Systems-Russia/166371736725344">
                <span class="visually-hidden">facebook</span>
                <img 
                    aria-hidden="true"
                    src="/files/facebook-icon.svg"
                    class="newsletter__social-icon"
                >
            </a>
            <a class="newsletter__social-anchor" href="https://www.instagram.com/organiccoloursystems_rus/">
                <span class="visually-hidden">instagram</span>
                <img 
                    aria-hidden="true"
                    src="/files/instagram-icon.svg"
                    class="newsletter__social-icon"
                >
            </a>
        </div>
    </div>
</section>