<section class="container_responsive facts-section">
    <div class="row">
        <div class="col-xs-6 col-md-3 small-fact">
            <div class="small-fact__content">Не тестируется на животных</div>
        </div>
        <div class="col-xs-6 col-md-3 small-fact">
            <div class="small-fact__content">Без аммиака</div>
        </div>
        <div class="col-xs-6 col-md-3 small-fact">
            <div class="small-fact__content">Зелёная наука</div>
        </div>
        <div class="col-xs-6 col-md-3 small-fact">
            <div class="small-fact__content">Здоровая атмосфера салонов</div>
        </div>
    </div>
</section>