---
pagination:
    data: workshops
    size: 1
    alias: workshop
permalink: "/workshops/{{workshop.id}}.html"
title: {{workshop.title}}
---

{% extends "layout/main.njk" %}
{% from "macro/introBanner.njk" import banner %}


{% block content %}
    {{ 
        banner(
            heading=workshop.bannerHeading,
            subheading=workshop.bannerSubHeading,
            content=workshop.bannerText,

            imgAddress=workshop.bannerImage,
            theme=workshop.bannerTheme,

            removeSubheadingOnShrink=false
        ) 
    }}

    <div class="container_responsive container_v-padded text_centered text_mobile-started">
        <h2 class="heading_main">{{workshop.title}}</h2>

        <hr class="hr_sm hr_padded hr_centered">

        <p class="text_simple">{{workshop.description}}</p>
    </div>

    <div class="container_centered container_v-padded container_pink">
        <a class="button button_link button_dark" href="{{workshop.url}}">
            Зарегистрироваться на воркшоп
        </a>
    </div>

    <div class="container container_v-padded container_white text_centered">
        <h2 class="heading_main">Наши мастера</h2>

        <div class="hr_sm hr_padded hr_centered"></div>

        <h3 class="heading_secondary">Улучшаем мир натурально</h3>

        <div class="container_centered mt-4">
            <a
                href="/tutors"
                class="button button_dark button_link"
            >
                К другим членам команды
            </a>        
        </div>

        <div class="mentors-row mt-6">
            {% for tutor in workshop.tutors %}
            <div class="mentor mentors-row__item">
                <div aria-hidden="true" class="mentor__picture-container">
                    <img 
                        class="mentor__picture"
                        src="{{tutor.image}}"
                        alt="{{tutor.name}}"
                    >
                </div>

                <p class="mentor__name mt-4">{{tutor.name}}</p>
                <p class="mentor__info">{{tutor.info}}</p>

                <div class="mentor__underliner hr_sm hr_centered"></div>
            </div>
            {% endfor %}
        </div>
    </div>

    <div class="banner">
        <div class="banner__image-container">
            <img
                class="banner__image"
                src="/files/workshops/all.png"
                alt=""
            >
        </div>

        <div class="banner__overlay"></div>
        <div class="container_absolutely-responsive">
            <div class="banner__content container_v-padded text_dark">
                <h2 class="banner__heading heading_main">Другие семинары Organic Colour Systems</h2>
                
                <hr class="banner__delimiter hr_padded hr_sm hr_dark">
                
                <p class="banner__text text_dark">Познакомьтесь с остальными ступенями обучающей программы </p>

                <a
                    href="/products"
                    class="banner__link button button_link button_dark"
                >
                    Подробнее.
                </a>
            </div>
        </div>
    </div>

    {% include "parts/actionBanners/revolutionBanner.njk" %}
{% endblock content %}