<div class="container_dual">
    <div class="container_pink container_v-padded container_dual__item">
        <div class="padded-content_left">
            <h2 class="heading_main">Присоединяйся к революции</h2>
            
            <hr class="hr_sm hr_padded">

            <h3 class="heading_secondary">Начни свое путешествие сегодня</h3>
            <p class="text_simple paragraph_padded">Присоединяйтесь к нашему невероятному сообществу и к революции естественного парикмахерского искусства.</p>

            <a
                href="/contacts#contact-ocs"
                class="button button_link button_dark mt-3"
            >
                Запишите меня.
            </a>
        </div>
    </div>

    <div class="container_green container_v-padded container_dual__item">
        <div class="padded-content_right">
            <h2 class="heading_main">Найдите салон</h2>
            
            <hr class="hr_sm hr_padded">

            <h3 class="heading_secondary">Ищете ближайший к вам салон?</h3>
            <p class="text_simple paragraph_padded">Наш Salon Finder находится в разработке! Пожалуйста, напишите нам, чтобы найти ближайший к вам салон.</p>

            <a
                href="/contacts#contact-ocs"
                class="button button_link button_dark mt-3"
            >
                Свяжитесь с нами.
            </a>
        </div>
    </div>
</div>
