@import "~vars/fonts";
@import "~vars/colors";

.intro-banner {
    .intro-banner__heading {
        font-size: $font_xl;
    }

    .intro-banner__subheading {
        font-size: $font_sm;
        padding: 0;
    }
}
