@import "~vars/pads";
@import "~vars/colors";
@import "~vars/fonts";
@import "~vars/screens";

$imageSize: 70px;

.testimonial {
    display: flex;

    .testimonial__content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        padding-left: $pad4;
        margin-left: $pad4;

        border-left: 4px solid $firm_green;

        .testimonial__text {
            padding-bottom: $pad5;

            text-align: start;
            line-height: 2;
        }

        .testimonial__author-info {
            padding-right: $pad2;

            border-right: 2px solid $black;

            font-family: $font_secondary;
            font-weight: bold;
            text-transform: uppercase;
        }
    }
}


@media all and (max-width: $screen_sm) {
    .testimonial {
        flex-direction: column;
        align-items: flex-start;

        .testimonial__content {
            margin-top: $pad4;

            margin-left: 0;
        }
    }
}
