---
permalink: /about/our-support/index.html
---

{% extends "layout/main.njk" %}
{% from "macro/introBanner.njk" import banner %}
{% from "macro/testimonial.njk" import testimonial %}

{% block content %}
    {{ 
        banner(
            heading='Наша поддержка',
            subheading='Мы заботимся о создании более здорового салонного бизнеса',

            imgAddress='/files/about/our-support.png',
            theme='dark',

            content='Мы поможем вам выбиться из толпы и расширить вашу клиентскую базу',

            linkText='Подписаться',
            linkAddress='/contacts#contact-ocs',
            removeSubheadingOnShrink=true
        ) 
    }}

    <div class="container_responsive container_v-padded text_centered text_mobile-started">
        <h2 class="heading_main">
            Хотите присоединиться к нашему невероятному сообществу творческих, выразительных и профессиональных стилистов?
        </h2>

        <hr class="hr_sm hr_padded hr_centered">

        <p class="text_simple paragraph_padded">
            Начиная с предварительного разговора и до вашего первого заказа, наша специальная команда готова помочь вам. От отдела по работе с клиентами, до инструкторов для солонов, все мы готовы помочь расширить ваши горизонты, пробудить ваше воображение и обеспечить процветания на вашем новом пути.         
        </p>
    </div>

    <div class="container_dual">
        <div class="container_dual__item container_v-padded container_pink">
            <div class="padded-content_left">
                <h2 class="heading_main">Особенности системы.</h2>
            
                <hr class="hr_sm hr_padded">

                <ul class="list list_padded list_marked">
                    <li class="list__item">
                        Получите поддержку от наших опытных и дружелюбных  <a class="a" href="/tutors">наставников салона</a>.
                    </li>
                    <li class="list__item">
                        Получите доступ к нашему новому календарю <a class="a" href="/education">обучающих семинаров</a>.
                    </li>
                    <li class="list__item">
                        Возможность размещать заказы 24/7 в любое удобное для вас время.
                    </li>
                    <li class="list__item">
                        Получайте регулярные рекламные предложения.
                    </li>
                    <li class="list__item">
                        Получите доступ к фирменным товарам маркетинговой поддержки.
                    </li>
                    <li class="list__item">
                        Получите возможность пользоваться нашей системой вознаграждений.
                    </li>
                    <li class="list__item">
                        Воспользуйтесь нашим PR.
                    </li>
                    <li class="list__item">
                        Получайте регулярные информационные бюллетени и обновления.
                    </li>
                    <li class="list__item">
                        Воспользуйтесь преимуществами наших постоянных инноваций в продуктах и NPD.
                    </li>
                </ul>
            </div>
        </div>

        <div 
            aria-hidden="true"
            class="container_dual__item featured_image-backgrounded"
            style="background-image: url('/files/about/benefits.webp')"
        ></div>
    </div>

    <div class="container_responsive container_v-padded">
        <div class="owl-carousel testimonials-carousel">
            {% for t in testimonials %}
                {{
                    testimonial(
                        author_name=t.author_name,
                        person_info=t.person_info,
                        text=t.description
                    )
                }}
            {% endfor %}
        </div>
    </div>

    <div
        style="background-image: url('/files/about/workshops.webp')"
        class="container_v-padded container_image-backgrounded"
    >
        <div class="container_responsive">
            <div class="container_boxed container_v-padded text_centered">
                <h2 class="heading_main">
                    Узнайте больше о том, как работают наши продукты
                </h2>

                <hr class="hr_sm hr_padded hr_centered">

                <h3 class="heading_secondary">
                    Запишитесь онлайн сейчас и узнайте, что вы можете получить от нашей Системы
                </h3>

                <p class="text_simple paragraph_padded">Никогда не останавливайте обучение с нами</p>

                <div class="container_centered mt-3">
                    <a
                        href="/education"
                        class="button button_link button_dark"
                    >
                        Подробнее.
                    </a>
                </div>
            </div>
        </div>
    </div>

    {% include "parts/emails.njk" %}

{% endblock content %}