---
permalink: /about/our-ethics/index.html
---

{% extends "layout/main.njk" %}
{% from "macro/introBanner.njk" import banner %}

{% block content %}
    {{ 
        banner(
            heading='Наша Этика',
            subheading='Наши моральные принципы, ценности и убеждения',

            imgAddress='/files/about/our-ethics.webp',
            theme='light'
        ) 
    }}

    <!-- TODO: Это исключение, поэтому задаю стиль так -->
    <div
        class="container_responsive container_v-padded text_centered" 
        style="display: flex; flex-direction: column; align-items: center;"
    >
        <h2 class="heading_main">
            Наши четыре основополагающие ценности 
        </h2>

        <hr class="hr_sm hr_padded hr_centered">

        <h3 class="heading_secondary">Честность. Прозрачность. Надежность. Уважение.</h3>

        <p class="paragraph_padded heading_secondary">Мы верим...</p>

        <ul class="list mt-4" style="text-align: start;">
            <li class="list__item">• В то, что животные не должны страдать из-за красоты</li>
            <li class="list__item">• В поддержание высочайших стандартов качества и безопасности</li>
            <li class="list__item">• В создание более полезных средств для вас, ваших сотрудников и клиентов</li>
            <li class="list__item">• В ответственное производство наших средств</li>
        </ul>
    </div>


    <div class="container_dual">
        <div class="container_dual__item container_v-padded container_dark">
            <div class="padded-content_left">
                <h2 class="heading_main">Забота о животных.</h2>

                <p class="text_simple paragraph_padded">Мы НИКОГДА не тестировали наши продукты на животных и обещаем никогда не продавать нашу продукцию странам, которые настаивают на тестировании на животных.</p>
            </div>
        </div>

        <div 
            aria-hidden="true"
            class="container_dual__item featured_image-backgrounded"
            style="background-image: url('/files/about/animal-friendly.webp')"
        ></div>
    </div>

    <div class="container_dual">
        <div 
            aria-hidden="true"
            class="container_dual__item featured_image-backgrounded"
            style="background-image: url('/files/about/quality.webp')"
        ></div>

        <div class="container_dual__item container_v-padded container_dark">
            <div class="padded-content_right">
                <h2 class="heading_main">Качество и безопасность.</h2>

                <p class="text_simple paragraph_padded">Как британский производитель, мы обязаны соблюдать одни из самых строгих стандартов качества и безопасности в мире. Мы производим наши средства на собственных производственных объектах, и поэтому мы применяем более строгие методы контроля, начиная от получения наших ингредиентов  и заканчивая упаковокй и отправкой наших средств Вам.</p>
            </div>
        </div>
    </div>

    <div class="container_dual">
        <div class="container_dual__item container_v-padded container_dark">
            <div class="padded-content_left">
                <h2 class="heading_main">Здоровье и благополучие.</h2>

                <p class="text_simple paragraph_padded">Мы используем в первую очередь высококачественные органические и натуральные ингредиенты, а  синтетические ингредиенты - только в случае отсутствия подходящих натуральных замен.</p>
                <p class="text_simple paragraph_padded">Мы используем минимально возможные уровни PPD и избегаем агрессивных химикатов, таких как амиак, парабены, резорцин и формальдегид.</p>
            </div>
        </div>

        <div 
            aria-hidden="true"
            class="container_dual__item featured_image-backgrounded"
            style="background-image: url('/files/about/health.webp')"
        ></div>
    </div>

    <div class="container_dual">
        <div 
            aria-hidden="true"
            class="container_dual__item featured_image-backgrounded"
            style="background-image: url('/files/about/environment.webp')"
        ></div>

        <div class="container_dual__item container_v-padded container_dark">
            <div class="padded-content_right">
                <h2 class="heading_main">Окружающая среда и возобновляемость ресурсов.</h2>

                <p class="text_simple paragraph_padded">Как производитель, мы несем ответсвенность за помощь в защите среды, в которой мы живем, и минимизацию возможных негативных влияний в результате наших действий. Мы активно стремимся к тому, чтобы изготовление и распределение нашей продукции было основано на принципах ответсвенности. </p>
                <p class="text_simple paragraph_padded">Для этого мы используем эффективные методы производства, снижаем объем отходов и потребление энергии и в то же время как можно шире используем вторичные материалы. Мы закупаем наши ингредиенты у поставщиков с хорошей репутацией, для которых благосостояние их сотрудников  и стабильность экологической ситуации  являются приоритетами. Мы по возможности используем вторичные упаковочные материалы для того, чтобы вся наша упаковка подлежала повторной переработке. Также мы изготоваливаем наши средства так, чтобы они были биоразлагаемыми и их можно было безопасно сливать в канализацию. </p>
            </div>
        </div>
    </div>


    {% include "parts/actionBanners/allActions.njk" %}
{% endblock content %}