---
permalink: /product/aqua-boost/index.html
---

{% extends "layout/main.njk" %}
{% from "macro/introBanner.njk" import banner %}
{% from "macro/video.njk" import ytVideo %}

{% block content %}
    {{ 
        banner(
            heading='Aqua Boost',
            subheading='Лазурный',
            content='Создан для увлажнения волос',

            imgAddress='/files/products/aqua-boost/intro.webp',
            theme='dark'
        ) 
    }}

    <div class="container_responsive container_v-padded text_centered text_mobile-started">
        <h2 class="heading_main">
            Линия средств для увлажнения волос.
        </h2>

        <hr class="hr_sm hr_padded hr_centered">

        <p class="text_simple paragraph_padded">
            В состав Aqua Boost входят сертифицированные органические экстракты алоэ, натурального черного овса, витамин В5 и лецитин, которые увлажняют и питают сухие или поврежденные волосы, делают их гладкими и блестящими. Не содержит SLS, SLES и хлорида натрия. Подходи для веганов, обладает 100% натуральным сладко-ягодным ароматом. Линия Aqua Boost идеально подходит для седых волос.
        </p>
    </div>

    <div class="products-row mt-6">
        <div class="products-row__item">
            <div class="product-preview">
                <img 
                    class="product-preview__image"
                    src="/files/products/aqua-boost/product1.webp"
                    alt=""
                >

                <h3 class="product-preview__name">Aqua Boost Shampoo 70ml, 250ml, 900ml</h3>

                <hr class="hr_sm hr_dark hr_padded">
            </div>
        </div>

        <div class="products-row__item">
            <div class="product-preview">
                <img 
                    class="product-preview__image"
                    src="/files/products/aqua-boost/product2.webp"
                    alt=""
                >

                <h3 class="product-preview__name">Aqua Boost Treatment 90ml, 500ml</h3>

                <hr class="hr_sm hr_dark hr_padded">
            </div>
        </div>

        <div class="products-row__item">
            <div class="product-preview">
                <img 
                    class="product-preview__image"
                    src="/files/products/aqua-boost/product3.webp"
                    alt=""
                >

                <h3 class="product-preview__name">Aqua Boost Conditioner & Leave-In Conditioner 70ml, 200ml, 900ml</h3>

                <hr class="hr_sm hr_dark hr_padded">
            </div>
        </div>
    </div>


    <div class="container_dual">       
        <div class="container_dual__item container_v-padded container_green">
            <div class="padded-content_left">
                <h2 class="heading_main">Активные натуральные и органические ингредиенты.</h2>
            
                <hr class="hr_sm hr_padded">

                <ul class="list list_padded list_marked">
                    <li class="list__item">Пшеничный протеин, не содержащий глютена - увлажняет структуру волоса и придает им зеркальный блеск</li>
                    <li class="list__item">Ромашка - кондиционирующие и противовоспалительные свойства</li>
                    <li class="list__item">Окопник - успокаивает, защищает и увлажняет</li><li class="list__item">Подсолнечное масло - кондиционер</li>
                    <li class="list__item">Масло сладкого миндаля - кондиционирование и блеск</li>
                    <li class="list__item">Экстракт семян черного овса - удерживает влагу в структуре волоса и придает им зеркальный блеск</li>
                    <li class="list__item">Алоэ Вера - увлажняет и успокаивает кожу головы</li>
                    <li class="list__item">Лециитин - увлажняет и улучшает рост волос</li>
                    <li class="list__item">Масло семян жожоба - Кондиционер</li>
                </ul>
            </div>
        </div>

        <div 
            aria-hidden="true"
            class="container_dual__item featured_image-backgrounded"
            style="background-image: url('/files/products/aqua-boost/features.webp')"
        ></div>
    </div>


    <div class="container_dual">       
        <div class="container_dual__item container_v-padded container_gray">
            <div class="padded-content_left">
                <h2 class="heading_main">Когда использовать Aqua Boost®.</h2>
            
                <hr class="hr_sm hr_padded">

                <h3 class="heading_secondary">
                    Когда волосы практически не растягиваются во время теста на эластичность.
                </h3>

                <p class="text_simple paragraph_padded">
                    Наш тест на эластичность - идеальный способ проанализировать волосы ваших клиентов и определить, какие продукты по уходу следует использовать для наилучшего восстановления и окрашивания волос. Познакомьтесь с результатом теста на эластичность в данном видео.
                </p>
            </div>
        </div>

        <div 
            aria-hidden="true"
            class="container_dual__item container_v-padded container_gray"
        >
            <div class="padded-content_right container_full-height container_v-centered">
                {{ytVideo(
                    'https://www.youtube.com/embed/cwv2mUbrl-M',
                    '/files/products/aqua-boost/yt-preview.webp'
                )}}
            </div>
        </div>
    </div>


    <div class="banner">
        <div class="banner__image-container">
            <img
                class="banner__image"
                src="/files/products/whole-range.webp"
                alt=""
            >
        </div>

        <div class="banner__overlay"></div>
        <div class="container_absolutely-responsive">
            <div class="banner__content container_v-padded text_dark">
                <h2 class="heading_main">Посмотрите весь ассортимент.</h2>
                
                <hr class="banner__delimiter hr_padded hr_sm hr_dark">

                <a
                    href="/products"
                    class="banner__link button button_link button_dark"
                >
                    Подробнее.
                </a>
            </div>
        </div>
    </div>

    {% include "parts/actionBanners/revolutionBanner.njk" %}

{% endblock content %}